@using System.Security.Claims
@inject Duc_BTL.Controllers.ICartService _cartService;
@{
	int count = 0;
	if (User.Identity.IsAuthenticated)
	{
		int userId = int.Parse(User.FindFirstValue("Id"));
		count = _cartService.getCartCountByUserId(userId);
	}
}

<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
					<!-- logo -->
					<div class="site-logo">
						<a href="/">
							<img src="~/assets/img/logo.png" alt="">
						</a>
					</div>
					<!-- logo -->
					<!-- menu start -->
					<nav class="main-menu">
						<ul>
              <li class="current-list-item"><a href="/">Home</a></li>
              <li><a href="/products/shop">Shop</a></li>
							<li><a href="/home/news">News</a></li>
							<li><a href="/home/contact">Contact</a></li>
							<li>
								<span class="header-icons">
									<a class="shopping-cart" href="/shopping/shoppingcart">
										<i class="fas fa-shopping-cart">
											<sup style="font-size: 15px; padding: 8px;">@count</sup>
										</i>
									</a>
									<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
								</span>
								<span>
									@if (User.Identity.IsAuthenticated)
									{
										<a href="/user/logout">Đăng xuất</a>
									}
									else
									{
										<a href="/user/login">Đăng nhập</a>
									}
								</span>
							</li>
						</ul>
					</nav>
					<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
					<div class="mobile-menu"></div>
					<!-- menu end -->
				</div>
			</div>
		</div>
	</div>
</div>