<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <li class="nav-item">
    <a class="nav-link collapsed" href="/admin">
      <span>Trang chủ</span>
    </a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Chức năng quản lý
  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/admin/categories">
      <span>Quản lý danh mục</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/admin/products">
      <span>Quản lý sản phẩm</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="/admin/users">
      <span>Quản lý người dùng</span>
    </a>
  </li>
</ul>
