@model Duc_BTL.Areas.Admin.Models.product

@{
  ViewData["Title"] = "Thêm mới sản phẩm";
  Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Thêm mới sản phẩm</h1>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Create" enctype="multipart/form-data">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input type="text" asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
      </div>

      <div class="form-group">
        <label>Image</label>
        <div class="input-group col-xs-12 form-group">
          @* <input type="text" class="form-control file-upload-info custom-file-info" placeholder="Upload Image"> *@
          <input type="text" class="form-control custom-file-info" placeholder="Upload Image">
          <input type="file" class="custom-file-input file-upload-img" asp-for="Image" name="fileInput" style="display: none;">
          <span class="input-group-append">
            <button class="file-upload-browse btn btn-primary" id="uploadButton" type="button">Upload</button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input type="number" asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input type="number" asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CategoryId" class="control-label"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary mr-2">Tạo mới</button>
        <a asp-action="index" class="btn btn-outline-danger">Trở lại</a>
      </div>
    </form>
  </div>
</div>

@section Scripts {
  <script>
    document.querySelector(".custom-file-info").addEventListener("click", () => {
      document.querySelector(".file-upload-img").click();
    })
    document.getElementById("uploadButton").addEventListener("click", function () {
      // Kích hoạt sự kiện click trên input chứa tệp tin khi nút "Upload" được bấm
      document.querySelector(".file-upload-img").click();
    });
    document.querySelector(".file-upload-img").addEventListener("change", function (e) {
      var files = e.target.files;
      var fileName = "";
      for (var i = 0; i < files.length; i++) {
        fileName += files[i].name + ", ";
      }
      fileName = fileName.slice(0, -2);
      document.querySelector(".custom-file-info").value = fileName;
    });
  </script>
}